@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #091B1E;
}

header {
    background-color: #8FB035;
    padding: 20px;
}

header>h1 {
    color: white ;
    text-align: center;
    font-family: "Bangers", sans-serif;
    font-size: 100px;
}

.score-bord {
    border: 5px dashed #8FB035;
    width: 300px;
    margin: 30px auto;
    color: white;
    font-size: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
    font-family: "Bangers", sans-serif;
    position: relative;
}





.badge {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    font-family: "Bangers", sans-serif;
}


#user-label {
    position: absolute;
    bottom: 30px;
    left: -50px;
}

#computer-label {
    position: absolute;
    bottom: 30px;
    right: -50px;
}





.result {
    font-size: 25px;
    color: #FA8B3E;

}

.result>p {
    text-align: center;
    font-family: "Bangers", sans-serif;
    font-weight: bold;
}


.choices {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: block;
}



.choice {
    display: inline-block;

    border-radius: 60%;
    padding: 15px;
    margin: 0 20px;
    transition: 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background-color: #0030b5;
}

#message {
    text-align: center;
    font-family: "Bangers", sans-serif;
    color: #8FB035;
    font-weight: bold;
    margin-top: 30px;
    font-size: 70px;
}

.r {
    text-align: center;
    padding: 400px;

}

#rules {
    color: white;
    font-size: 30px;
    font-family: "Bangers", sans-serif;
}

#r-detals {
    font-size: 20px;
    color: #8FB035;
    padding: 5px;

}